.searchContainer {
    max-width: 1040px;
    max-height: 720px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 180px 0 0 0;

}
.formWrapper{
    max-width: 686px;
    width: 100%;
}
@media(max-width: 767px){
    .formWrapper{
        max-width: 304px;
    }
    .searchContainer {
        padding: 200px 0 0 0;
    }
}