.rangeSlider {
    max-height: 70px;
    height: 100%;
    max-width: 430px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0 36px 0;
}

.RangeSliderValue {
    width: 100px;
    height: 48px;
    border: 1px solid rgba(23, 23, 25, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px 5px 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #272727;
}
.rangeSliderValueContaiener{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.maxCount{

}
.sliderInput {
    -webkit-appearance: none;
    border: 1px solid rgba(23, 23, 25, 0.2);
    border-radius: 3px;
    height: 6px;
    width: 310px;
    outline: none;
    background: rgba(23, 23, 25, 0.3);
}
.sliderInput::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: 2px solid #1390E5;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background: #FFFFFF;
    cursor: pointer;
}

@media(max-width: 767px){
    .maxCount{
        margin: 0 0 24px 0;
    }
    .sliderInput {

        width: 169px;

    }
}