.authorizationContainer{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin:  55px auto 0  auto;
    flex-direction: column;
    align-items: center;


}