.videosContainer {
    padding: 40px 0 0 0;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;

}

.showVideoGrid {

}

.showVideoList {
    max-width: 687px;
    display: flex;
    margin: 0 0 32px 0;
}
.showVideoList:last-child{
    margin: 0 0 0 0;
    padding: 0 0 4px 0;
}
.showVideoList img {
    max-width: 157px;
    max-height: 87px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 20px 0 0;
}

.titleVideos {
    margin: 0 0 8px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #272727;
}

.chanelTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(23, 23, 25, 0.3);
    padding: 0 0 8px 0;
}

.showVideoGrid img {
    border-radius: 10px;
    max-width: 245px;
    max-height: 137px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.videosGrid {
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    row-gap: 28px;
    column-gap: 20px;
}

.currentRequest {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.requestVideo {
    max-width: 343px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 20px 0;
}

.blockInfoAndControl {
    display: flex;
    justify-content: space-between;
}

.viewSwitcher {
    max-height: 24px;
    max-width: 86px;
}

.viewSwitcher button {
    max-width: 24px;
    max-height: 24px;
    width: 100%;
    height: 100%;
    border: inherit;
    background: inherit;
}

.listSwitcher {
    margin: 0 23px 0 0;
}

.modalRequestPopap{
    position: absolute;
    top: 0;
    left: 0;
    height: 120%;
    width: 100%;
    background: rgba(117, 199, 255, 0.8);
    overflow-y: hidden;
    z-index: 50;

}
.plug{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #272727;
}
.plugSpan{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto';
    color: #000000;
}
@media (max-width: 1439px) {
    .videosGrid {
        display: grid;
        grid-template-columns: 216px 216px 216px;
        row-gap: 28px;
        column-gap: 20px;
    }

    .requestVideo {
        margin: 0 0 40px 0;
    }

    .videosContainer {
        max-width: 688px;
    }
}

@media (max-width: 767px) {
    .titleVideos{
        max-height: 32px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;

    }
    .showVideoList {
        max-width: 687px;
        display: flex;
        margin: 0 0 24px 0;
    }
    .requestVideo {
        max-width: 216px;
    }
    .currentRequest {
        font-size: 12px;
    }
    .requestVideo{
        font-size: 12px;
    }
    .showVideoList img {
        margin: 0 15px 0 0;
    }
    .videosGrid {
        display: grid;
        grid-template-columns: 303px;
        row-gap: 28px;
        column-gap: 20px;
    }

    .videosContainer {
        max-width: 303px;
    }

    .showVideoGrid img {
        border-radius: 10px;
        max-width: 303px;
        max-height: 137px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}